.browse-laptops {
    padding: 20px;
    background-color: #f0f0f0;
    min-height: 100vh;
    position: relative;
    border-top: 0.2vw solid maroon;
}

.browse-laptops h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.laptop-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 16px;
}

.laptop-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 16px;
    transition: transform 0.3s ease;
}

.laptop-card:hover {
    transform: translateY(-5px);
}

.laptop-card h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.laptop-card p {
    font-size: 14px;
    color: #333;
}

.status1
{
    color: green;
}

.status2
{
    color: red;
}

.borrowform
{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 40%;
    height: fit-content;
    margin: auto auto;
    padding: 4vw;
    border: 0.1vw solid black;
    border-radius: 0.5vw;
    background-color: #FFF;
}

.borrowform h2, .borrowform p
{
    margin: 0;
    margin-bottom: 2vw;
}


.borrowform div
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2vw;
}

.borrowform label
{
    margin-bottom: 0.5vw;
    font-weight: 600;
    font-size: 1.2vw;
}

.borrowform textarea
{
    margin-bottom: 3vw;
}

#submit
{
    width: fit-content;
    padding: 0.5vw 3vw;
    border: none;
    border-radius: 0.25vw;
    cursor: pointer;
    font-weight: 600;
    font-size: 1vw;
    background-color: #78081C;
    color: #F7C301;
}

#close
{
    width: fit-content;
    padding: 0.5vw 3vw;
    border: none;
    border-radius: 0.25vw;
    cursor: pointer;
    font-weight: 600;
    font-size: 1vw;
    background-color: #F7C301;
    color: #78081C;
}

